
.array-container {
    
    /* position:absolute; */
    /* left: 100px; */
    background-color: black;
}
.array-bar{
    
    width: 5px;
    background-color: #fefae0;
    display: inline-block;
    margin: 40px 2px 0px 2px;
}